* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #23242a;
}

.bg-red {
  background-color: red;
  border-radius: 20px;
  padding: 10px;
}

a {
  color: blue;
}